.navbar{
    background: teal;
}
.list_Items{
    margin: 0px 15px;
}
.registrationBtn{
    border-radius: 30%;
    color: white;
    /* border: white 1px; */
    /* outline: white 1px; */
    font-size: 15px;
    box-shadow: 2px -2px 10px -2px #008080;
    border-color: white
}
.btnDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background:linear-gradient(45deg, #BED0DC, transparent)
}
.btnDiv button{
    border: solid 1px #CBD7E3;
    background: transparent;box-shadow: 2px 2px 2px 2px #BED0DC;
    width: 50%;
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
}