.navbar {
  color: whitesmoke !important;
}
.navbar .MuiButton-root {
  border: 1px whitesmoke solid;
  border-radius: 25%;
  box-shadow: 1px 1px 0px 0px whitesmoke;
}
.navbar .MuiButton-label {
  color: whitesmoke !important;
}
