.profileBtn button {
  color: white;
  border: solid 1px #cbd7e3;
  background: transparent;
  box-shadow: 9px 7px -1px 0px #bed0dc;
  width: 50%;
  margin: 10px 0px;
  font-size: 18px;
  font-weight: 600;
}

/* class="MuiButtonBase-root MuiButton-root MuiButton-text" */
.foodCardsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.userFoodCard {
  margin: 20px 10px;
}

.card.card-cascade.narrower .view.view-cascade {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -1.25rem;
}

.card.card-cascade .view.view-cascade {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.view img,
.view video {
  position: relative;
  display: block;
}
.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.userFoodCategory h4 {
  text-align: left;
  font-size: 22px;
}
.userFoodCategory h5 {
  font-size: 18px;
}
.searchBtn {
  width: 70px;
  background: teal;
  margin: 16px 0px 0px 20px;
  cursor: pointer;
  height: 55px;

  border-radius: 3px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}
.searchBtn i {
  font-size: 25px;
}
.searchBtn:hover {
  box-shadow: 2px 2px 2px 2px lightgray;
  transition: 5ms;
}
